@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
.mainConteiner {
  display: block;
  margin: auto;
  max-width: 320px;
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  background-color: aliceblue;
  @media screen and(min-width: 768px) {
    max-width: 768px;
    padding-top: 41px;
    padding-bottom: 107px;
  }
}
.title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  @media screen and(min-width: 768px) {
    font-size: 22px;
  }
}
.textContent1 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.02em;
  @media screen and(min-width: 768px) {
    font-size: 10px;
    line-height: 12px;
  }
}
.lineHorizontal {
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  height: 0px;
  opacity: 0.15;
  border: 1px solid #00122f;
  @media screen and(min-width: 768px) {
    width: 322px;
  }
}
.imgGraf {
  margin-top: 12px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  // width: 180px;
  max-width: 320px;
  @media screen and(min-width: 768px) {
    margin-top: 40px;
    font-size: 25px;
  }
}

.resultTextContent {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  @media screen and(min-width: 768px) {
    margin-top: 30px;
    font-size: 16px;
    line-height: 20px;
  }
  span {
    font-weight: bold;
  }
  p {
    padding: 0;
    margin: 0;
  }
}
.lineVertical {
  width: 0px;
  height: 30px;
  opacity: 0.15;
  border: 1px solid #00122f;
}
.catImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;
  width: 120px;
  height: 120px;
  @media screen and(min-width: 768px) {
    width: 176px;
    height: 176px;
    margin-top: 17px;
  }
}
.grateText {
  margin-top: 21px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  @media screen and(min-width: 768px) {
    font-size: 22px;
    margin-top: 10px;
  }
}
.sentenceText {
  margin-top: 10px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.02em;
  @media screen and(min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }
}
.btnTryAgain {
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
  padding: 0;
  width: 190px;
  height: 48px;
  background-color: #ff6b09;
  color: #fff;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  @media screen and(min-width: 768px) {
    margin-top: 47px;
  }
}
