@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
.mainConteiner {
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
}
.heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.mainConteiner img {
  width: 100%;
}
